################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DateTest/.vs/DateTest/v15
/DateTest/DateTest/bin/Debug
/DateTest/DateTest/obj/Debug
/DateTest/.vs/DateTest/v16
